body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  background: #444444;
  -webkit-box-shadow: 0 1px 5px gray;
          box-shadow: 0 1px 5px gray;
}

.nav-container img {
  width: 100px;
  margin-top: 10px;
  margin-left: 35px;
}

.nav-container h3 {
  color: white;
  font-size: 28px;
  font-family: 'Major Mono Display', monospace;
  margin-left: -80px;
  margin-top: 30px;
}

.nav-container .nav__links {
  list-style-type: none;
  margin-left: 300px;
  margin-top: 23px;
}

.nav-container .nav__links li {
  display: inline-block;
  text-decoration: none;
  padding: 0 15px;
  /* margin: 0 15px; */
}

.nav-container .nav__links li a {
  text-decoration: none;
  color: white;
  padding-bottom: 16px;
}

.nav-container .nav__links li a:hover {
  -webkit-box-shadow: 0 2px 0 white;
          box-shadow: 0 2px 0 white;
}

.nav-container .login-button {
  color: white;
  font-size: 15px;
  border: 1px solid white;
  background-color: #444444;
  border-radius: 2px;
  padding: 5px 30px;
  margin-right: 40px;
}

.nav-container .login-button:hover {
  color: #444444;
  background-color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container h1 {
  font-size: 4rem;
  font-family: 'Hind Madurai', sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 3%;
}

.container .bounty-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style-type: none;
}

.container .bounty-list ul li {
  margin: 0%;
}

.container .bounty-list ul li a {
  text-decoration: none;
  color: #0F0F0F;
}

.container .bounty-list ul li a:hover {
  color: black;
}

.container .bounty-list ul li a img {
  width: 350px;
  height: 350px;
  border-radius: 2%;
}

.container .bounty-list ul li a img:hover {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  border-radius: 50%;
}

.container .bounty-list ul li a p {
  padding-left: 28%;
  font-size: 1.5rem;
}
/*# sourceMappingURL=global.css.map */