//MIXINS
@mixin transition($time, $type) {
  transition: all $time $type;
    -webkit-transition: all $time $type;
    -moz-transition: all $time $type;
    -o-transition: all $time $type;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
}

.nav-container {
  display :flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #444444;
  box-shadow: 0 1px 5px gray;

  img {
    width: 100px;
    margin-top: 10px;
    margin-left: 35px;
  }

  h3 {
    color: white;
    font-size: 28px;
    font-family: 'Major Mono Display', monospace;
    margin-left: -80px;
    margin-top: 30px;
  }

  .nav__links {
    list-style-type: none;
    margin-left: 300px;
    margin-top: 23px;

    li {
      display: inline-block;
      text-decoration: none;
      padding: 0 15px;
      /* margin: 0 15px; */

      a {
        text-decoration: none;
        color: white;
        padding-bottom: 16px;

        &:hover {
          box-shadow: 0 2px 0 white;
        }
      }
    }
  }

  .login-button {
    color: white;
    font-size: 15px;
    border: 1px solid white;
    background-color: #444444;
    border-radius: 2px;
    padding: 5px 30px;
    margin-right: 40px;

    &:hover {
      color: #444444;
      background-color: white;
    }
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  h1 {
    font-size: 4rem;
    font-family: 'Hind Madurai', sans-serif;
    align-self: center;
    padding-left: 3%;
  }
  
  .bounty-list {

    ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    list-style-type: none;

      li {
        margin: 0%;
        a {
          text-decoration: none;
          color: #0F0F0F;

          &:hover {
            color: black;
          }

          img {
            width: 350px;
            height: 350px;
            border-radius: 2%;

            &:hover {
              @include transition(1s, ease);
              border-radius: 50%;
            }
          }

          p {
            padding-left: 28%;
            font-size: 1.5rem;
            }
        }
      }
    }
  }
}

